<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/index.css" th:href="@{/index.css}" rel="stylesheet" />
    <title>Where - Lista de Usuários</title>
</head>
<body>
    <div>
        <h2>Lista de usuários:</h2>

        <table>
            <thead>
              <tr>
                <th th:text="Id"></th>
                <th th:text="Nome"></th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="user: ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td>
                    <a th:href="@{/user/deleteUser/{id}(id=${user.id})}">Remover</a>
                    <a th:href="@{/user/getUser/{id}(id=${user.id})}">Detalhes</a>
                </td>
              </tr>
            </tbody>
        </table>

        <br />

        <a href="/user/createUserForm">Novo usuário</a>
        <br />
        
        <a href="/">Voltar para o menu</a>
        <br />
    </div>
</body>
</html>