<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/index.css" th:href="@{/index.css}" rel="stylesheet" />
    <title>Where - Loja</title>
</head>
<body>
    <div>
        <h2 th:text="${store.name}"></h2>

        <br />

        <h4>Chamados abertos:</h4>

        <table>
            <thead>
              <tr>
                <th th:text="Id"></th>
                <th th:text="Título"></th>
                <th th:text="Descrição"></th>
                <th th:text="Ações"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="calling: ${callings}">
                <td th:text="${calling.id}"></td>
                <td th:text="${calling.title}"></td>
                <td th:text="${calling.description}"></td>
                <td>
                  <a th:href="@{/store/acceptCalling/{id}/{callingId}(id=${store.id}, callingId=${calling.id})}">Aceitar chamado</a>
                </td>
              </tr>
            </tbody>
        </table>

        <br />

        <a href="/store/getAllStores">Ver lista de lojas</a>
        <br />
        
        <a href="/">Voltar para o menu</a>
        <br />
    </div>
</body>
</html>