<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/index.css" th:href="@{/index.css}" rel="stylesheet" />
    <title>Where</title>
</head>
<body>
    <div>
        <h2>Where</h2>

        <br />

        <a href="/user/getAllUsers">Módulo Usuário</a>
        <br />

        <a href="/store/getAllStores">Módulo Loja</a>
        <br />

        <a href="/calling/getAllCallings">Módulo Chamado</a>
        <br />
    </div>
</body>
</html>