<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/index.css" th:href="@{/index.css}" rel="stylesheet" />
    <title>Where - Criar Avatar</title>
</head>
<body>
    <div>
        <form action="#" th:action="@{/avatar/createAvatar}" th:object="${avatar}" method="post">
            <p>
                Url:
                <input type="text" th:field="*{url}" placeholder="Insira a url" />
            </p>
            <p>
                <input type="submit" value="Adicionar" />
            </p>
        </form>

        <br />

        <a href="/">Voltar para o menu</a>
        <br />
    </div>
</body>
</html>